body {
    font-family: Arial, sans-serif;
    background: rgb(106, 16, 16)
}


.card {
    width: 350px;
    margin: 40px auto;
    background: mediumpurple;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.details {
    padding: 20px;
    color: white;
}

.tag {
    background: black;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;
}

.colors {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.color {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}

.red {
    background: rgb(232, 84, 4);
}

.black {
    background: black;
}

.white {
    background: white;
}

.active {
    outline: 3px solid yellow;
}

.price {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    background: rgb(232, 84, 4);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background: rgb(232, 84, 4);
}